fastapi
uvicorn
sqlalchemy
python-dotenv
pydantic[email]
pytest
pytest-mock
httpx
openai>=1.61.1
pyttsx3
typing
pymongo
mongomock
dotenv
debugpy
pytest
PyJWT==2.8.0
botocore
boto3
python-multipart
pandas
openpyxl
PyPDF2
requests
pdf2image
Pillow
pymupdf
opencv-python
scikit-image
numpy
matplotlib
seaborn